# Arquivos de Build do Gradle
.gradle/
build/

# Caches e arquivos da IDE (IntelliJ IDEA)
.idea/
*.iml
*.ipr
*.iws
out/

# Caches e arquivos da IDE (VS Code)
.vscode/

# Logs da Aplicação
*.log
logs/

# Arquivos de Dependências
# Esta linha é importante se o gradle wrapper não for usado ou se houver jars externos no diretório lib
# lib/
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/
*.class

# Arquivos de Empacotamento (JARs/WARs)
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Informações de Segurança/Configuração Local (MUITO IMPORTANTE!)
# O seu jwt.secret está no application.properties.
# Se você usar arquivos de perfil específicos para o ambiente local/dev:
application-dev.properties
application-local.properties
application-prod.properties
.env
# Se você usar variáveis de ambiente em um arquivo .env

# Arquivos do sistema operacional
.DS_Store # macOS
Thumbs.db # Windows
